Individual Product Notes/Step Function/state-machine-definition-example-asl.json
{
    "Comment": "A simple AWS Step Functions state machine (workflow) that automates a call center support session, and this is the Amazon States Language (ASL).",
    "StartAt": "Open Case",
    "States": {
      "Open Case": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
        "Next": "Assign Case"
      }, 
      "Assign Case": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
        "Next": "Work on Case"
      },
      "Work on Case": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
        "Next": "Is Case Resolved"
      },
      "Is Case Resolved": {
          "Type" : "Choice",
          "Choices": [ 
            {
              "Variable": "$.Status",
              "NumericEquals": 1,
              "Next": "Close Case"
            },
            {
              "Variable": "$.Status",
              "NumericEquals": 0,
              "Next": "Escalate Case"
            }
        ]
      },
       "Close Case": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
        "End": true
      },
      "Escalate Case": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
        "Next": "Fail"
      },
      "Fail": {
        "Type": "Fail",
        "Cause": "Engage Tier 2 Support."    }   
    }
  }